*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-color: rgba(213, 191, 241, 0.685);
}

.container{
   margin-top:20vh ;
   margin-left: 30vw;
   margin-right: 30vw;
   padding: 10px;
    /* display: flex;
    justify-content: center; */
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #f9f8faf0;
    border-radius: 10px;
   box-shadow: 10px 10px 10px rgba(206, 196, 217, 0.719);
}

#taskInput{
      align-items:start;
    /* margin: 15px 0 10px 0; */
    padding: 5px 20px;
    margin-right: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
}
 
#addBtn{
    padding: 5px 20px;
    background-color: rgb(83, 26, 230);;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div{
    display: flex;
    justify-content: center;
    gap: 20px;
    

}

.task-stats p{
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
 
}

.task-stats{
     background-color: #f1edf5d7 ;
      box-shadow: 0px 10px 10px rgba(229, 222, 236, 0.719);
     padding: 20px;
     border-radius: 8px;
     gap: 35px;
}

/* -------------------media query---------------- */

.container{
   width:600px;
        margin:50px  auto;
        padding: 30px;

}

@media (max-width: 576px){
    .container{
        width:90%;
        margin:30px auto;
        padding: 20px;
    }
}